{# empty Twig template #}
<div id="fusepump-{{ delta }}-{{ field_id }}" class="fusepump-widget"></div>
<a href="#" class="fusepump-link" data-id="{{ id }}" data-fallback="{{ fallback }}" target-id="fusepump-{{ delta }}-{{ field_id }}">{{ 'Buy Now'|t }}</a>